<% if current_user %>
  <header class="header">
    <div class="header-left-wrapper">
      <%=link_to "俺のメモ", root_path %>
    </div>
    <div class="header__links">
      <%= link_to "投稿", new_articles_path, class:"header__link-btn" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"header__link-btn" %>
    </div>
  </header>
<% else %>
  <header class="header">
    <div class="header-left-wrapper">
      <%=link_to "俺のメモ", root_path %>
    </div>
    <div class="header__links">
      <%= link_to "ログイン", new_user_session_path, class:"header__link-btn header__link-btn--primary" %>
      <%= link_to "新規登録", new_user_registration_path, class:"header__link-btn header__link-btn--primary-fill" %>
    </div>
  </header>
<% end %>