<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render "shared/public/header" %>
    <% if flash.any? %>
        <% flash.each do |key, value| %>
          <div class="flash alert-<%= key %>">
            <%= content_tag(:div, value, class: "#{key}") %>
          </div>
        <% end %>
    <% else %>
      <div id="ie-alert__wrapper"></div>
    <% end %>

    <main class="main">
      <%= yield %>
    </main>
    <%= render "shared/public/login_signup_modal" %>
  </body>
</html>
